#header {
    display: flex;
    gap: 2rem;
    align-items: baseline;

    line-height: 1;
    padding: 2rem;

    font-size: 0.9rem;

    user-select: none;
}

#logo {
    font-size: 2rem;
}

#address {
    font-weight: bolder;
    cursor: pointer;
}

#unit-select {
    font-weight: 300;
}

#unit-select span {
    cursor: pointer;
}

.selected-unit {
    font-weight: 600;
}
