#header {
    display: flex;
    gap: 2rem;
    align-items: center;

    padding: 2rem;

    font-size: 0.9rem;

    user-select: none;
}

#logo {
    font-size: 1.35rem;
}

#address {
    font-weight: bolder;

}
