body {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 
    background: url("./cloudy-weather.jpg");
    background-size: 0%;
    background-repeat: no-repeat; */
}

#main-content {
    border: 1px solid black;
    min-height: 5rem;

    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
    width: 100%;
    gap: 3rem;

    padding: 2rem 5rem 3rem 5rem;
}
