body {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/* 
    background: url("./cloudy-weather.jpg");
    background-size: 0%;
    background-repeat: no-repeat; */
}

#header {
    display: flex;
    gap: 2rem;
    align-items: center;

    padding: 2rem;

    font-size: 0.9rem;

    user-select: none;
}

#logo {
    font-size: 1.35rem;
}

#address {
    font-weight: bolder;
    
}

#main-content {
    border: 1px solid black;
    /* height: 5rem; */
}
