@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Roboto Condensed", sans-serif;
    color: white;
        
    background: url("./02.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#main-content {
    border: 1px solid black;
    min-height: 5rem;

    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
    width: 100%;
    gap: 3rem;

    padding: 2rem 5rem 3rem 5rem;
}

.acrylic {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

dialog {
    margin: auto;
    border: 2px solid black;
    border-radius: 0.5rem;
    outline: none;
}

::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
}
